@import "@/styles/colors.module";
@import "@/styles/viewports";

.cartItemWrapper {
  display: grid;
  padding-bottom: 25px;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "i i"
    "f f"
    "a p"
    "r r";

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);

    grid-template-areas: 
      "i i i i i i f f f f f f"
      "i i i i i i a a a p p p"
      "r r r r r r r r r r r r";
  }

  @media  screen and (min-width: 1200px) {
    grid-template-columns: repeat(11, 1fr) auto;
    grid-template-rows: repeat(2, auto);

    grid-template-areas: 
      "i i i i i i f f f f f r"
      "i i i i i i a a a p p p";
  }

}

.itemImg {
  border-radius: 20px;
  grid-area: i;
}

.itemName {
  margin-top: 20px;
  margin-bottom: 5px;

  @media screen and (min-width: 1000px) {
    margin-top: 0;
  }
}

.itemInfoWrapper {
  grid-area: f;
  margin-bottom: 20px;
  max-width: 500px;

  @media screen and (min-width: 1000px) {
    margin-top: -6px;
    margin-left: 20px;
  }
}

.amountWrapper {
  grid-area: a;

  @media screen and (min-width: 1000px) {
    margin-left: 20px;
    margin-bottom: -8px;
    align-self: end;
  }
}

.priceWrapper {
  grid-area: p;
  justify-self: end;

  @media screen and (min-width: 1000px) {
    align-self: end;
  }
}

.removeItemOuterWrapper {
  grid-area: r;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;

  @media screen and (min-width: 1200px) {
    justify-self: end;
    align-self: start;
    margin-top: -6px;
    margin-left: 20px;
  }
}

.removeItemInnerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.removeItemInnerWrapper:hover .removeItemIcon {
  fill: $black;
}

.removeItemInnerWrapper:hover .removeItemText {
  color: $black;
}

.removeItemControl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.removeItemIcon {
  transition: all 0.3s;
  fill: $dark-grey;
}

.removeItemText {
  transition: all 0.3s;
  color: $dark-grey;
  margin-left: 3px;
}

.amountInput {
  width: 60px;
}

.amountInput :global(.MuiOutlinedInput-root) fieldset {
  transition: border-color 0.3s;
  border-color: $grey;
}

.amountInput :global(.MuiInputBase-root) {
  border-radius: 7px;
  font-family: var(--noto-font);
}

.amountInput :global(.MuiInputBase-root:hover) fieldset {
    border-color: $dark-grey;
}

.amountInput :global(.MuiInputBase-root.Mui-focused) fieldset {
    border-color: #1976d2;
}

.amountInput :global(.MuiInputBase-input) {
  text-align: center;
  padding: 5px 10px;
}

.amountControlElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.amountMinusBtn {
  transition-duration: 0.3s;

  &:disabled {
    color: $dark-grey;
  }
}

.amountPlusBtn {
  transition-duration: 0.3s;

  &:disabled {
    color: $dark-grey;
  }
}

.amountMinusBtn svg {
  width: 28px;
  height: 28px;
}

.amountPlusBtn svg {
  width: 28px;
  height: 28px;
}

.amountCaption {
  color: #9A9A9A;
  font-size: 14px;
}

.priceCaption {
  color: #9A9A9A;
  font-size: 14px;
  text-align: right;
}

.amountControlElements {
  margin-left: -13px;
}
