
.countrySelect {
  grid-area: o;

  @media screen and (min-width: 800px) {
    margin-right: 20px;
    max-width: none;
  }
}

.cityInputWrapper {
  grid-area: c;
}

.cityInput {
  @media screen and (min-width: 800px) {
    max-width: none;
  }
}

.addressInputWrapper {
  grid-area: a;

  @media screen and (min-width: 800px) {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.addressInput {
  @media screen and (min-width: 800px) {
    max-width: none;
  }
}

.zipInputWrapper {
  grid-area: z;

  @media screen and (min-width: 800px) {
    margin-top: 20px;
  }
}

.zipInput {
  max-width: 170px;

  @media screen and (min-width: 800px) {
    max-width: none;
  }
}

.worldwideOptionFieldsWrapper {
  max-width: 750px;

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-template-areas:
      "o o o o o o c c c c c c"
      "a a a a a a a a a z z z";
  }
}