@import "@/styles/colors.module";

.deliverySection {
  margin-bottom: 80px;
}

.radio:not(:last-of-type) {
  margin-bottom: 10px;
}

.radioSubgroupLabel {
  font-weight: 700;
  margin-bottom: 5px;
}

.heading {
  margin-bottom: 25px;
}

.ukraineSubgroup {
  margin-bottom: 15px;
}