@import '@/styles/colors.module';

.outerButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cartIcon {
  fill: $black;
  transition: fill 0.3s;
  margin-right: 20px;
  margin-top: -2.3px;
  pointer-events: auto;

  &Opened {
    fill: white;
  }
}

.hamburgerIcon {
  pointer-events: auto;
}

