@import '@/styles/colors.module';
@import '@/styles/viewport-mixins.module';

.overlay {
  $p: &;

  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background-color: $green;
  transition: all 0.3s;
  z-index: 5;
  // padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Opened {
    right: 0;
  }

  &Tablet {
    width: 300px;

    &:not(#{$p}Opened) {
      right: -300px;
    }
  }
}

