.pagesItem {
  color: white;
  font-size: 20px;
  font-weight: 700;

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }
}

.pagesItem a {
  text-decoration: none;
  color: inherit;
}

.pagesItem:not(.accordionWrapper) {
  padding: 10px 0 12px;
}

.pageList {
  padding: 0;
  margin: 0;
  list-style: none;
}