@import "@/styles/viewports";

.canBeTakenOnTripSection {
  margin-bottom: 52px;

  @include for-size(desktop) {
    margin-bottom: 60px;
  }
}

.luggageImgContainer {
  padding-right: 0;
  overflow-x: hidden;

  @media screen and (min-width: 1072px) {
    padding-right: 30px;
  }
}

.luggageImg {
  width: 160%;
  height: auto;

  @media screen and (min-width: 600px) {
    width: 145%;
  }

  @media screen and (min-width: 1072px) {
    width: 100%;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1072px) {
    flex-direction: row-reverse;
    margin-top: 40px;
  }
}

.textContentBlock {
  max-width: 570px;
  margin: 45px 0 65px;

  @media screen and (min-width: 1072px) {
    margin-top: 0;
  }
}

.heading {
  margin-bottom: 20px;
}

.bagImg {
  align-self: center;
  width: 100%;
  height: auto;

  @media screen and (min-width: 600px) {
    width: 80%;
  }

  @media screen and (min-width: 1072px) {
    max-width: 620px;
    margin-right: 70px;
  }
}