@import '@/styles/colors.module';
@import '@/styles/viewports';

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: border-bottom-color 0.3s ease-in-out;
  border-bottom: 1px solid #fff;

  &IsScrolled {
    border-bottom-color: $green;
  }

  user-select: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 20px 0 23px;
  background-color: #fff;
}

.navbarVisibleArea {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.navbarLogoWrapper {
  position: relative;
  width: 100px;
  height: 25px;
  left: 0;
}

.navbarLogo {
  position: absolute;
  left: 0;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  &IsTransparent {
    opacity: 0;
  }
}

