@import '@/styles/colors.module';

.optionsItem {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: $black;

  &Active {
    color: $blue;
  }
}

.optionsItem p {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.optionsItem svg {
  visibility: hidden;
  fill: $blue;
  margin-bottom: 3px;
}

.optionsItemActive svg {
  visibility: visible;
}