@import "@/styles/colors.module";

.menuItem {
  padding: 0 !important;
  margin: 0 !important;
  white-space: normal;
}

.menuItemInnerWrapper {
  padding: 10px 20px;
  width: 100%;
  min-height: 48px;
  transform: translateY(1px);
}

.listWrapper {
  width: 100%;
}

