$black: #2D2E30;
$green: #82BF1A;
$grey: #ECEFF0;
$blue: #27A2FB;
$orange: #F1521F;
$red: #DA291C;

:export {
  black: $black;
  green: $green;
  grey: $grey;
  blue: $blue;
  orange: $orange;
  red: $red;
}