@import "@/styles/variables.module.scss";
@import "@/styles/viewports.scss";
@import "@/styles/colors.module.scss";


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--noto-font);
  margin: 0;
  min-width: $content-min-width;
  overflow-y: overlay;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, a:visited, a:active {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  color: $black;

  @include for-size(tablet) {
    font-size: 35px;
    line-height: 45px;
  }

  @include for-size(desktop) {
    font-size: 45px;
    line-height: 55px;
  }
}

h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  margin: 0;
  color: $black;

  @include for-size(tablet) {
    font-size: 30px;
    line-height: 40px;
  }

  @include for-size(desktop) {
    font-size: 35px;
    line-height: 45px;
  }
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $black;
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: $black;
}

a {
  color: $blue;
  border-bottom: 1px solid rgba(101, 170, 220, 0.2);
  cursor: pointer;
  padding-bottom: 2px;
  transition: border-bottom-color 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    border-bottom-color: $blue;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.global-container {
  padding: 0 15px;

  @include for-size(tablet) {
    padding: 0 30px;
  }
}
