* {
  box-sizing: border-box;
}

body {
  // font-family: var(--segoui-font);
  font-family: var(--noto-font);
  margin: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:focus,a:visited,a:active{
  outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}