@import "@/styles/colors.module";

.confirmOrderBtn {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background: $orange;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  padding: 12px 30px 16px;
  transition: all .2s ease-in-out;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;

  &:hover {
    background: darken($orange, 8%)
  }
}

.text {
  color: #fff;
}

.spinner {
  color: #fff;
  margin-left: 15px;
}
