@import "@/styles/viewports";

.curesAtHomeSection {
  margin-bottom: 75px;
}

.sectionContainer {
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);

  grid-template-areas:
    "i"
    "c"
    "f";

  @media screen and (min-width: 750px) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-template-areas:
      "i i i i i i i i i i i i"
      "c c c c c c c c f f f f";
  }

  @media screen and (min-width: 1000px) {
    grid-template-areas:
      "i i i i i i i i i f f f"
      "c c c c c c c c c c c c";
  }
}

.contentWrapper {
  grid-area: c;
}

.heading {
  margin-top: 35px;
  margin-bottom: 20px;
}

.mainImg {
  grid-area: i;
  max-width: 100%;
  height: auto;
}

.factoid {
  width: 163px !important;
  height: 163px !important;
  margin-top: 45px;
  justify-self: center;
  grid-area: f;

  @media screen and (min-width: 750px) {
    justify-self: end;
  }

  @media screen and (min-width: 1000px) {
    margin-top: 9.395vw;
    width: 163px !important;
    height: 163px !important;
  }

  @media screen and (min-width: 1250px) {
    margin-top: 119px;
  }
}

.factoid p {
  @include for-size(desktop) {
    font-size: 25px !important;
    line-height: 32px !important;
  }
}


.text {
  max-width: 570px;
}