@import "@/styles/colors.module";

.productsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.productsListItem:not(:last-child) {
  padding-bottom: 35px;
  margin-bottom: 25px;
}

.productsListItemCheckout:not(:last-child) {
  border-bottom: 1px solid $grey;
}

.productsListItemOrderSuccess:not(:last-child) {
  border-bottom: 1px solid #DDD;
}
