@import "@/styles/viewports";

.workInProgressWrapper {
  height: calc(100vh - 300px);
  padding-top: 150px;

  @include for-size(tablet) {
    height: calc(100vh - 156px);
  }
}

.heading {
  margin-bottom: 30px;
}