@import "@/styles/colors.module";
@import "@/styles/viewports";

.modalTitleOuterWrapper {
  padding: 20px 0 28px;
  border-bottom: 1px solid $grey;
}

.cartMainContentOuterWrapper {
  padding: 0;
  padding-top: 25px;
  overflow-y: overlay;
}

.cartMainContentInnerContainer {
  @include for-size(tablet) {
    padding: 0 40px;
  }

  @include for-size(desktop) {
    padding: 0 50px;
  }
}

.modalTitleInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include for-size(tablet) {
    padding: 0 40px;
  }

  @include for-size(desktop) {
    padding: 0 50px;
  }

}

.closeModalBtn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: -6px;
}

.closeModalBtn svg {
  width: 35px;
  height: 35px;
  fill: $dark-grey;
  transition: fill 0.3s;

  &:hover {
    fill: $black;
  }
}

.cartItemList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cartItem {
  padding-bottom: 30px;
  border-bottom: 1px solid $grey;
  margin-bottom: 25px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 35px;
  }
}

.footerBtnsWrapper {
  margin-top: 55px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1000px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 70px;
    margin-bottom: 55px;
  }

  @include for-size(desktop) {
    margin-bottom: 40px;
  }
}

.checkoutWrapper {
  border-radius: 20px;
  border: 1px solid $orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px 40px;
  margin-bottom: 75px;

  @media screen and (min-width: 1000px) {
    margin-bottom: 0;
  }
}

.totalPrice {
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  color: $orange;
  margin-bottom: 15px;
}

.checkoutBtn {
  cursor: pointer;
  text-align: center;
  display: block;
  border: none;
  background: $orange;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  padding: 12px 30px 16px;
  transition: all .2s ease-in-out;

  &:hover {
    background: darken($orange, 8%)
  }
}

.continueShoppingBtn {
  cursor: pointer;
  text-align: center;
  display: block;
  border: 1px solid $green;
  border-radius: 12px;
  background-color: transparent;
  color: $green;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  padding: 12px 30px 16px;
  transition: all .2s ease-in-out;


  &:hover {
    background-color: $green;
    color: #fff;
  }
}

.emptyCartWrapper {
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

.emptyCartWrapper h3 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 15px;
}

.emptyCartWrapper p {
  color: #9A9A9A;
}

.cartModal {
  z-index: 10000;
}