@import "@/styles/colors.module";
@import "@/styles/viewports";

.modalTitleOuterWrapper {
  padding: 20px 0 28px;
  border-bottom: 1px solid $grey;
}

.cartMainContentOuterWrapper {
  padding: 0;
  padding-top: 25px;
  overflow-y: overlay;
}

.cartMainContentInnerContainer {
  @include for-size(tablet) {
    padding: 0 40px;
  }

  @include for-size(desktop) {
    padding: 0 50px;
  }
}

.modalTitleInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include for-size(tablet) {
    padding: 0 40px;
  }

  @include for-size(desktop) {
    padding: 0 50px;
  }

}

.closeModalBtn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: -6px;
}

.closeModalBtn svg {
  width: 35px;
  height: 35px;
  fill: $dark-grey;
  transition: fill 0.3s;

  &:hover {
    fill: $black;
  }
}

.cartItemList {
  padding: 0;
  margin: 0;
  list-style: none;
}