.citySearchSelect {
  max-width: 750px;
  margin-bottom: 20px;
}

.cityTextInput {
  max-width: 400px;
  margin-bottom: 20px;
}

.novaposhtaFieldsWrapper {
}

.noWarehousesText {
  max-width: 750px;
  //margin-bottom: 40px;
}

.warehouseSearchSelect {
  max-width: 750px;
}

.warehouseTextInput {
  max-width: 400px;
}