@import "@/styles/colors.module";

.citySearchSelect {
  max-width: 750px;
  margin-bottom: 20px;
}

.cityTextInput {
  max-width: 400px;
}

.cityTextInputWrapper {
  margin-bottom: 20px;
}

.novaposhtaFieldsWrapper {
}

.noWarehousesText {
  max-width: 750px;
}

.warehouseSearchSelect {
  max-width: 750px;
}

.warehouseTextInput {
  max-width: 400px;
}

.noWarehousesText strong {
  color: $red;
}

.errorMessage {
  margin-top: 5px;
}
