@import '@/styles/colors.module';

.pageItem a{
  color: $black;
  text-decoration: none;
  border: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $green;
  }
}

.pageItem p {
  // font-size: 18px;
  // line-height: 28px;
  margin: 0;
}